---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Sri Yellampally</h1>
      <h2 class="text-base dark:text-white">
        425-903-7159
      </h2>
      <h3 class="text-base dark:text-white">
        <a
          href="mailto:sriyellampally@gmail.com"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >sriyellampally@gmail.com</a
        >
        |
        <a
          href="https://github.com/sriyellampally"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >https://github.com/sriyellampally</a
        >
      </h3>
    </div>

    <div id="profile" class="mb-6">
      <SectionTitle title="Profile" />

      <p class="dark:text-white">
        Passionate about unraveling the neurobiological underpinnings of psychiatric and neurodegenerative disorders and developing interventions for them with a keen interest in brain organoids and computational modeling. Committed to pursuing a doctoral degree and a career in neuroscience research.
      </p>
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />

      <RowEntry
        description="B.S in Biology, Minor in Chemistry & Neuroscience. Dean’s List. Relevant Coursework: Biochemistry, Molecular Biology, Calculus I, II, III, Bioinformatics, Statistical Analysis and Inference, Stem Cells, Quantitative Analytical Chemistry, Physical Chemistry, Behavioral Neuroscience, Neurobiology, Abnormal Psychology, Microbiology, Molecular Biology."
        name="Aug 2021 — Aug 2024"
        title="University of Washington"
      />
    </div>

    <div id="research" class="mb-6">
      <SectionTitle title="Research Experience" />

      <RowEntry
        description="Developed Python GUI software platform for proteome analysis from existing R-based QMI modules. Implemented WGCNA for analyzing protein-protein interaction networks, enhancing data exploration capabilities. Developed machine learning model to predict treatment outcomes based on protein interactions, aiding personalized medicine."
        name="July 2024 — Sep 2024"
        title="Programmer, Pattern Recognition in Bioinformatics, UWB CSSE"
      />

      <RowEntry
        description="Investigated the neural circuits underlying social behavior using mouse models, contributing to the understanding of autism spectrum disorders. Conducted electrophysiology experiments, behavioral assays on mice. Proficiently performed brain slicing, IP injections, perfusions, and brain dissections, cryosectioning to collect neural tissue samples for analysis which included immunohistochemistry, genotyping."
        name="Mar 2024 — Aug 2024"
        title="Research Intern, Millen Lab, Seattle Children’s"
      />

      <RowEntry
        description="Using human and mouse genetics to identify genes causing cerebellar malformations and then define the underlying developmental processes necessary for normal development. Handled mice and human brain tissue samples and performed various analyses on them like histology, IHC, IF, etc. Assisted in bioinformatic analysis pipelines. Maintained detailed lab notebook for documentation."
        name="Mar 2023 — Jun 2023"
        title="Undergraduate Research Assistant, Zweifel Lab, UW"
      />
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="Teaching Experience" />

      <RowEntry
        description="TA for General Physics II. Provided administrative support for quiz, discussion, or laboratory sections. Led group discussions and review sessions. Served as class assistant."
        name="Apr 2023 — Feb 2024"
        title="Undergraduate Teaching Assistant"
        subTitle="STEM Physical Sciences Division, UW"
      />

    </div>

    <div id="skills" class="mb-6">
      <SectionTitle title="Skills and Interests" />

      <RowEntry description="Python, R, SQL" name="Programming Languages" />
      <RowEntry description="Pandas, NumPy, SciKit-Learn, TensorFlow, AWS, PowerBI, Tableau" name="Libraries/Frameworks/Cloud" />
      <RowEntry description="Deep Q-learning, CNN, ANN, NLP, Computer Vision" name="Machine Learning" />
      <RowEntry description="Visual Studio Code, Git (GitHub)" name="Tools" />
      <RowEntry description="Experience gathering, analyzing, and interpreting complex data sets from multiple sources. Proficiency in manipulating and interpreting data for actionable insights. Tenacity to develop research projects. Ability to analyze research literature to an outstanding standard. Summarize and write for publication or presentation the results of research projects." name="Research Skills" />
      <RowEntry description="qPCR/PCR assay design, flow cytometry, electrophoresis, ISH, DNA extraction, DNA purification and sequencing, mass spec, culturing bacteria" name="Other Lab Skills" />
      <RowEntry description="Secretary of Psychology Club" name="Extra-Curricular Activities" />
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:github" label="github" url="https://github.com/sriyellampally" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/in/sriyellampally/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:medium" label="medium" url="https://www.medium.com/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:dev" label="dev" url="https://www.dev.to/" />
      </div>
      <div>
        <SocialIcon icon="ant-design:global-outlined" label="website" url="https://www.stackoverflow.com/" />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
